params {
  genome = "s3://lifebit-featured-datasets/pipelines/RepeatExpansion/Reference/hs37d5.fa"
  bam = "s3://lifebit-featured-datasets/pipelines/RepeatExpansion/Bams/HG00472.mapped.ILLUMINA.bwa.CHS.exome.20121211.bam"
  bed= "s3://lifebit-featured-datasets/pipelines/RepeatExpansion/HipSTR/GRCh37.hipstr_reference.bed"
}
